@import "tailwindcss"; 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  /* Colors */
  --color-black08: #080808; 
  --color-white: #FFFFFF; 
  --color-orange: #FF9330; 
   

  /* fonts  */
   --font-DM: "DM Sans", sans-serif; 
   --font-Syne: "Syne", sans-serif; 
   --font-Oswald: "Oswald", sans-serif; 
   --font-Inter: "Inter", sans-serif; 

}

@layer base{
  body{
    @apply text-black08 font-Syne;
  }
}